
      <div class="row">
        <div class="col-md-12">
          <h2>About</h2>
          <p>Progress Update:</p>
          <p>Assignment Number: 6</p>
          <p>Assignment Objective:</p>
          <p>
            Part A: Work with Client Sessions and data persistence using MongoDB to add user registration and Login/Logout functionality and tracking (logging)
            </br>
            Part B: Update the password storage logic to include "hashed" passwords (using bcrypt.js)
          </p>
        </div> 
      </div>
   