
      <div class="row">
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>Work in progress. Stay tuned for future updates.</p>
        </aside>
        <section class="main col-md-9">
          <article>
          <h2>Welcome</h2>
          <p>Hello Everyone,</p>
          <p>Welcome to the home page for my dynamic web application. It is being updated as more content and features will be added over the coming the coming weeks. Feel free to browse around and familiarize yourself with the interface.</p>
          <p>Best Wishes,</p>
          <p>Hansal</p>
          </article>
        </section>
      </div>
    